@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.global-nav {
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    width: 1128px;
}

.list-item{
    display: inline-block;
    width: 63px;
}
.ms-n5 {
    margin-left: -40px;
}

.linkedin{
    color: rgb(0, 195, 255);
    margin-left: 110px;
}

.navbar{
    height:64px;
}

.input-group{
    margin-right: 200px;
}

.lists{
    padding-left: 3em;
}

.navbar-items{
    width: 463px;
    margin-right: 3px;
}

.fa-solid{
    font-size: 25px;
}

.bi{
    font-size:25px;
}
